.HowSnowminerWorks {
    background: #F3F5F6;
    padding-top: 80px;
    padding-bottom: 80px;
}

.HowSnowminerWorks .section__header {
    text-align: center;
    margin-bottom: 20px;
}.HowSnowminerWorks .icon__number {
    color: #fff;
    height: 40px;
    width: 40px;
    box-shadow: 1px 2px 25px 0 rgba(0,0,0,0.05);
    border-radius: 20px;
    font-weight: 900;
    margin-bottom: 0.9375em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__number--blue {
    background: linear-gradient(63.43deg, var(--primaryColor) 0%, #45C9FB 100%);
}
.icon__number--purple {
    background: linear-gradient(63.43deg, #A39CF4 0%, #C3BEFF 100%);
}
.icon__number--green {
    background: linear-gradient(45deg, rgba(0,168,168,.7) 0%, rgba(87,255,151,.6) 100%);
}
.section__HowSnowminerWorks .section__subTitle h4 {
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 0.625em;
}

.section__HowSnowminerWorks .section__lead {
    font-family: sans-serif;
    line-height: 1.625em;
}
.section__HowSnowminerWorks .col-sm-4 {
    padding: 1.25rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.section__HowSnowminerWorks .button--action {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    background-color: var(--primaryColor);
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(35,10,74,0.15);
    padding: 0.75em 1.25rem;

}
.section__HowSnowminerWorks .container__footer {
    text-align: center;
}
.text--blue {
    color: #00A5E4;
}
.text--purple {
    color: #A39CF4;
}
.text--green {
    color: rgba(0,168,168,.5);
}
