.driverHero {
    background: linear-gradient(180deg, #1F3861 0%, rgba(31,56,97,0) 100%), url("./images/driver-hero.jpg") no-repeat;
    background-position: 50% 50%;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-top: -70px;
    background-size: cover;
}
.driverHero__CTA {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
  .driverHero__CTA {
      max-width: 100%;
      margin-left: 0;
  }
}
@media (min-width: 768px) {
    .driverHero {
        padding-top: 7.5em;
        padding-bottom: 7.5em;
}
}

.driverHero .section__title{
    color: #fff;
}
.driverHero .section__content{
    color: #fff;
}
// .driverHero .row {
//     margin-left: 10%;
//     margin-right: auto;
//     max-width: 20%;
// }
@media (min-width: 768px) {
    .driverHero .row {
        max-width: 80%;
        // margin-left: 10%;
        margin-right: auto;
    }
}
.driverHero .section__footer img {
    width: 152px;
}
.driverHero .section__footer .appStoreButton--apple{
    display: inline-block;
    padding-right: 5px;
}
