.section__convenienceIsPriority .row {
        align-items: center;
}

    .section__convenienceIsPriority .media__subTitle {
        color: var(--primaryColor);
    }
    .section__convenienceIsPriority .media__figure {
        text-align: center;
    }
    .section__convenienceIsPriority .media__figure img {
        margin-bottom: 1.25em;
        width: 100%;
    }
