.section__convenienceIsPriority Row {
        align-items: center;
        margin: 1.25rem;
}

    .section__convenienceIsPriority .media__subTitle {
        color: var(--primaryColor);
    }
    .section__convenienceIsPriority .media__content {
        margin-bottom: 1.875em;
    }
    .section__convenienceIsPriority .media__figure {
        text-align: center;
    }
    .section__convenienceIsPriority .media__figure img {
        margin-bottom: 1.25em;
        width: 100%;
    }
    .section__convenienceIsPriority .media__header {
    display: block;
    }
