.section__lowRiskhighReturn {
    background: linear-gradient(45deg, rgba(0,168,168,1) 0%, rgba(87,255,151,1) 100%);
    padding: 3em 0 3em 0;
    color: #fff;
}

.section__lowRiskhighReturn .button--link {
    color: #fff;
    font-family: sans-serif;
    font-weight: 900;
}
    .section__lowRiskhighReturn .row {
        align-items: center;
        justify-content:  center;
    }   
        .section__lowRiskhighReturn .col__content {
            max-width: 80%;   
        }
            .section__lowRiskhighReturn .section__subTitle {
                font-weight: 300;
                margin: 0.625em 0;
            }
.logo--appIcon img {
    width: 50px;
}
@media (min-width: 768px) {
    .section__lowRiskhighReturn .col__content {
            max-width: 40%;
            
        }
}