.lowRiskHighReturn {
    background: linear-gradient(45deg, rgba(0,168,168,1) 0%, rgba(87,255,151,1) 100%);
    display: flex;
}
.lowRiskHighReturn__content {
    color: #fff;
}
.pageWrap {
    padding: 20px;
}