.media {
    display: flex;
    margin-right: 1.25rem;
    color: #6B7C93;
}

.media--column {
    flex-direction: column;
}
.media__title {
    color: #6B7C93;
}
.textAlign--center {
    text-align: center;
}
.media__subTitle {
    color: red;
    font-size: 50px;
}