@media (min-width: 768px) {
    .easyBeautifulInterface__User .row {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 991px) {
    .easyBeautifulInterface__User .row {
        display: flex;
        align-items: center;
    }
}
.easyBeautifulInterface__User .media__figure img{
    width: 600px;
}
@media (min-width: 768px) {
    .easyBeautifulInterface__User .media__figure img{
        width: 700px;
    }
}
@media (min-width: 991px) {
    .easyBeautifulInterface__User .media__figure img{
        width: 800px;
    }
}
.easyBeautifulInterface__User .media__content {
    margin-left: 0px;
}
@media (min-width: 768px) {
    .easyBeautifulInterface__User .media__content {
        margin-left: 130px;
    }
}
.media__subTitle {
    color: #00A5E4;
}
.media__title .heading {
    color: #000;
}
.easyBeautifulInterface__User .media__footer .button--primary {
    color: #00A5E4;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid;
    font-weight: 400;
    font-size: 12px;
}
.easyBeautifulInterface__User .media--appIcon img {
    width: 15%;
    margin-left: -18px;
}
