.lowRiskHighReturn__content {
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
}
/*
lowRiskHighReturn__content--mediaComponent img {
    width: 20px;
}*/
/*
lowRiskHighReturn__content--mediaComponent {
    color: #fff;
}
*/
